html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.hometext {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.emptycart {
  background-image: url("/empty_cart.jpg");
}

.woodbtn {
  color: white;
  font-size: 25px;
  background:url(https://latitudo.org/upload/resize_cache/iblock/036/400_400_140cd750bba9870f18aada2478b24840a/03667702d3e38d534114e83060db6ae9.jpg) no-repeat;
  width: 180px;
  height: 60px;
  border-radius: 50px;
  border: none;
  text-align: center;
  text-decoration: none;
}
.background {
  background: url('https://manuo.pl/media/media/Forrest/ponadchodnikami_1.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.contact {
  background-color: black;
}

.woodbtn:hover {
  color: white;
  text-decoration: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

* {
  box-sizing: border-box;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}

/* ----------- Loading ------------- */
@import url("./loading.css");

/* ----------- Products ------------- */
@import url("./product.css");

/* ----------- Profile ------------- */
@import url("./profile.css");

/* ----------- Products Manager ------------- */
@import url("./products_manager.css");